body {
    background-color: #5e60ce;
}

.button:hover {
    background-color: #9163cb;
}

.deleteButton {
    background: none;
    border: none;
    cursor: pointer;
    color: red;
    font-size: 1rem;
}